
.allNews{
    margin: 100px auto 25px;
    overflow: hidden;
    width: 100%;
}
.single{
    /* width: 803px; */
    width: 75%;
    max-width: 1024px;
    min-height: 90px;
    background-color: rgba(237, 237, 237 ,5);
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 25px auto;
}
.pic{
    width: 94px;
    height: 94px;
    flex-shrink: 0;
    border-radius: 20px;
    position: relative;
}
.pic img{
    width: 102%;
    height: 102%;
    object-fit: cover;
    position: absolute;
    top: -1%;
}
.date{
    width: 12.5%;
    min-width: 40px;
    margin-left: 30px;
    font-size: 1.2em;
}
.newsTitle{
    flex-grow: 1;
    margin: 1em 10% 1em 30px;
    font-size: 1.2em;
}