html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: #283106;
}
body{
    color: #283106;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    /* font-size: clamp(14px, 1.111112vw, 18px); */
}

header,header a,footer a,footer {
    color: #492109;
}
.body-bg {
    position: fixed;
    width: 100%;
    height: 2000px;
    background-image: url('../material/bgColor.png');
    background-repeat: repeat;
    background-size: contain;
    z-index: -1;
}
@media only screen and (max-width: 768px) {
    body{font-size: 12px;}
    .body-bg{
        width: 100vw;
    }
}  