/* ---------------------------------特選新聞--------------------------------- */
.headline-news{
    min-width: 280px;
    max-width: 320px;
    flex-grow: 1;
    /* width: 21%; */
    height: 408px;
    background-color: #E9DFDA;
    border-radius: 20px;
    overflow: hidden;
}
.headline-news>.pic{
    margin: 35px auto 20px auto;
    background-color: #fff;
    width: 80%;
    height: 213px;
    border-radius: 20px;
    overflow: hidden;
}
.headline-news>.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headline-news>.title{
    width: 80%;
    font-size: 1.4em;
    height: 1em;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.headline-news>.text{
    margin: 1ex auto 16px auto;
    width: 80%;
    font-size: 1em;
    line-height: 1.2em;
    height: 6em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

/* ---------------------------------新聞盒子--------------------------------- */
#index-NewsBox{
    /* width: 300px; */
    width: 100%;
    height: 610px;
    overflow: scroll;
    border-radius: 30px;
    background-color: rgba(237, 237, 237, 50%);
}
#index-NewsBox::-webkit-scrollbar {
    width: 0;
}
#index-NewsBox a{
    color: #283106;
    text-decoration: none;
}
#index-NewsBox>.title{
    width: 80%;
    font-size: 1.15em;
    line-height: 1.5em;
    margin: 25px auto 0 auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
#index-NewsBox>.more {
    width: 85%;
    text-align: end;
    margin-top: 40px;
}


/* ---------------------------------單項商品--------------------------------- */
/* 只需在最外圍指定寬高 內部空間已全部轉為百分比 */
.top-picks-item{
    width: 20%;
    max-width: 300px;
    min-width: 250px;
    aspect-ratio: 254 / 268;

}
.top-picks-item>.top{
    width: 100%;
    height: 88.059701%;
    position: relative;
    display: block;
}
.top-picks-item>.top>.space{
    height: 11.440678%;
}
.top-picks-item>.top>.pic{
    margin-left: 10.629921%;
    max-width: 300px;
    width: 89.370079%;
    height: 88.559322%;
    /* aspect-ratio: 302 / 264; */
    background-color: #eee;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-picks-item>.top>.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 302 / 264; */
}

.top-picks-item>.top>.sti{
    position: absolute;
    width: 25.984252%;
    padding-bottom: 25.984252%;
    background-color: #AAB7C0;
    left: 0;
    top: 0;
}
.top-picks-item>.interval {
    height: 4.104478%;
}
.top-picks-item>.down{
    width: 85.433071%;
    height: 7.835821%; 
    margin-left: 14.566929%;
    position: relative;
    overflow: hidden;
}
.top-picks-item>.down>.itemName{
    position: absolute;
    left: 0;
    top: 0;

}
.top-picks-item>.down>.namecolor{
    background-color: #CBBBB3;
    width: 37.327189%;
    height: 66.666667%;
    margin-left: 1em;
    margin-top: 1ex;
}