.Featured{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto 350px;
}

.Featured-big{
    display: flex;
    width: 90%;
    margin: 0 7% 0 3%;
    justify-content: space-between;
    /* background-color: aqua; */
}
#Featured-list{
    width: 90%;
    margin: 45px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#Featured-list>.top-picks-item{
    margin: 15px 1%;
}
.Featured>.more{
    width: 85%;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: end;
}

.Featured-left{
    /* width: 41.66667%;  */
    /*600*/
    width: 55%;
    /* overflow: hidden; */
    position: relative;
    /* margin-left: 300px; */
}
.Feat-squr-wrap{
    width: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}
.squree-s{
    width: 22.5%;
    aspect-ratio: 1/1;
    background-color: #AAB7C0;
    border-radius: 5px;
    position: absolute;
}
.squree-m{
    width: 25%;
    aspect-ratio: 1/1;
    background-color: #D2DBE2;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 8.3334%;
}
.featuredTitle{
    font-size: 2em;
    position: relative;
    margin-top: 11.6667%;
    margin-left: 23%;
}
.Featured-left>.pic{
    width: 88.3333%;
    /* min-width: 400px; */
    min-width: 320px;
    aspect-ratio: 530/470;
    background-color: #96a;
    border-radius: 20px;
    margin-top: 20%;
    margin-left: 13%;
    overflow: hidden;
}
.Featured-left>.pic>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FeaturedItemTitle{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.FeaturedItemTitle>.price{
    font-size: 1.75em;
}


.FeaturedItemInfo .text{
    position: absolute;
    font-size: 1.75em;
    color: #283106;
    left: 0;
    top: 0;
}
.FeaturedItemInfo .backColor{
    width: 8em;
    height: 27px;
    /* aspect-ratio: 6/1; */
    background-color: #cbbbb3;
    margin: 1em auto auto 4em;
}
.FeaturedItemInfo{
    /* width: 88.3334%; */
    width: 100%;
    /* height: 38px; */
    left: 14%;
    display: flex;
    position: relative;
}
.FeaturedMiddle{
    width: 5%;
}
.FeaturedRight{
    /* width: 480px; */
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.FeaturedIntroduce{
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #283106;
    /* box-sizing: border-box; */
    /* padding: 10%; */
}

