.foot-wrap{
    height: 400px;
    background-color: #F5EFE4;
    display: flex;
    justify-content: center;
}
.SNS,.foot-info{
    height: 300px;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    font-size: 32px;
    margin-top: 6%;
    margin-left : 15%;
}
.SNStext{
    width: 200px;
    background-color: #fff;
    padding-bottom: 10%;
}
.icon{
    margin-right: 10px;
}
.infotext{
    padding-bottom: 5%;
}
.foot-pic{
    margin-top: 3%;
    margin-left : 15%;
}