

/*<div class="btn-wrap">
    <a href="#" class="btnL">NEWS►</a>
    <a href="#" class="btnM">ALL►</a>
    <a href="#" class="btnR">FAQ►</a>
</div> */
.btn-wrap{
    margin: auto;
    width: 62.25%;
    max-width: 1200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-wrap a{
    font-size: 30px;
    width: 33.333333%;
    height: 80px;
    background-color: #CBBBB3;
    text-align: center;
    align-items: center;
    line-height: 80px;
    text-decoration:none;
    color:#283106;
}
.btnL{
    border-top-left-radius: 125px;
    border-bottom-left-radius: 125px;
    border-right: 1px solid #000;
}
.btnR{
    border-top-right-radius: 125px;
    border-bottom-right-radius: 125px;
    border-left: 1px solid #000;
}