@media only screen and (max-width: 767px) {
    .banner{
        width: 100vw;
        aspect-ratio: 16/9;
        height: auto;
        overflow: hidden;
    }
    .slogan{
        font-size: 1.5em;
        writing-mode: vertical-lr;
        margin-bottom: 10%;
        margin-left: 10%;
    }
    .index-news{
        width: 100vw;
        max-width: 1920px;
        margin: 9px auto 0;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .news-left-block {
        width: 100vw;
        margin:0 5vw;
    }
    .news-right-block{
        width: 21%;
        margin-left: 2%;
        min-width: 300px;
        margin-right: 2%;
        margin-top: 82px;
    }
    .headline-news-title{
        width: 92.013889%;
        margin-bottom: 0;
        margin-left: 0;
        position: relative;
        padding: 1px;
    }
    .headline-news-title>.square{
        position: absolute;
        aspect-ratio: 1/1;
        width: auto;
        height: 20vw;
        background-color: #AAB7C0;
        z-index: -1;
        top: 40px;
        left: 5%;
    }
    
    .headline-news-title>.circle{
        position: absolute;
        background-color:#E4D0C7;
        aspect-ratio: 1/1;
        width: auto;
        height: 30vw;
        border-radius: 50%;
        z-index: -1;
        top: 0;
        left: 10%;
    }
    .headline-news-title>.text{
        margin-top: 15vw;
        font-size: 1.3em;
        margin-left: 13vw;
    }
    #headline-news-block>.headline-news{
        margin: 0 0.5vw;
    }
    
    .index-news>.news-left-block>.more{
        display: none;
    }
    .Featured{
        width: 100vw;
    }

}