.cartBar{
    display: flex;
    justify-content: flex-end;
    width: 480px;
}

.addBtn,.buyNow{
    width: 113px;
    height: 53px;
    font-size: 16px;
    background-color: #cbbbb3;
    margin-left: 5%;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: #283106;
}
.buyNow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyNow:hover , .addBtn:hover{
    background-color: #caaaa3;
}
.buyNow a{
    text-decoration: none;
    color: #283106;
}

.quantity-input {
    display: flex;
    align-items: center;
    /* width: 185px; */
    height: 53px;
}
.quantity-btn {
    font-size: 28px;
    height: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(210,219,226,80%);
}
.quantity-btn:hover{
    background-color: rgba(210,219,226,1);
}

#quantity {
    text-align: center;
    border: none;
    height: 100%;
    width: 50px;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}