body{
    background-color: #F5EFE4;
    background-image: url(logo參考/素材/bg.png);
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: center;
}
.topic{
    /* background-color: F0F; */
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
.slogan:first-child{
    font-size: 64px;
    writing-mode: vertical-rl;
    margin-top: 100px;
    margin-left: 100px;
}
.slogan:last-child{
    font-size: 64px;
    writing-mode: vertical-rl;
    margin-top: 50px;
    margin-left: 200px;
}

.Top-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbg{
    width: 1200px;
    height: 850px;
    background-position: center center;
    background-size: cover;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background-image:url(logo參考/素材/topimg.jpg) ;
}
.recommend-parents{
    /* background-color: #fff; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}
.recommend-pic{
    /* background-color: #FAF; */
    width: 840px;
    height: 630px;
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-left:10%; */

}
.left{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    /* position: relative; */
    
}
.top{
    width: 600px;
    height: 500px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}
.itemname{
    margin-top: 30px;
}
.sticker{
    background-color: #AAB7C0;
    width: 150px;
    height: 150px;
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 1;
}
.triangleL{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 87px solid #CBBBB3; 
    transform: rotate(30deg);
    }
.triangleR{
    /* background-color: #fff; */
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 87px solid #CBBBB3; 
    transform: rotate(-30deg);
    }
    .itemname{
        font-size: 32px;
    }
.recommend-Box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #000;
    border-radius: 20px;
    width: 505px;
    height: 755px;
}
.rec-textbox{
    font-size: 40px;
}
.rec-item{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}
.rec-item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* border: 1px solid #000; */
}
.nc-wrap{
    margin-left: 360px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.nc-title{
    margin-left: 360px;
    font-size: 40px;
    
}
.nc-card{
    width: 340px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
}
.nc-stic{
    width: 90px;
    height: 90px;
    background-color: #AAB7C0;
    position: relative;
    z-index: 1;
    left: -25px;
    top: -80px;
}
.nc-pic{
    position: absolute;
    z-index: 0;
}
.nc-pic img{
    width: 300px;
    height: 270px;
    object-fit: cover;
}
.nc-name{
    margin-bottom: -80px;
    font-size: 20px;
    z-index: 2;
}

.best-sells{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.container {
    display: flex;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: 20px;
}
.right-column .toptext{
    padding-left: 20%;
}
.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 700px;
    margin-right: auto;
}
.topimg img{
    border-radius: 80px;
}
.topimg{
        padding-left: 10%;
        padding-top: 10%;
}

.toptext{
    font-size: 40px;
}
.best-sells{
    margin-top: 20%;
}
.best-top2 .toptext{
    padding-top: 2%;
    padding-left: 30%;
}
.best-slogan{
    /* width: 635px;
    height: 250px; */
    margin-right: 20%;
    font-size: 70px;
    color: #E29100;
}
.best-slogan2{
    /* width: 635px;
    height: 250px; */
    margin-right: 15%;
    font-size: 70px;
    color: #E29100;
}

.best-top1{
    width: 700px;
    height: 600px;
    background-color: #D1BDB4; /* 右邊區塊的顏色 */
    border-radius: 250px;
}

.best-top2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 635px;
    height: 525px;
    background-color: #D1BDB4; /* 左邊區塊的顏色 */
    margin-top: 50px; /* 調整左邊區塊的上邊距 */
    border-radius: 200px;
}

.best-top3{
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 440px;
    background-color: #D1BDB4; /* 右邊區塊的顏色 */
    margin-top: 30px; /* 調整右邊區塊之間的間距 */
    border-radius: 200px;
}
.best-top3 .topimg{
    padding-left: 15%;
}
.best-top3 .toptext{
    padding-left: 40%;
}
.top2{
    width: 450px;
    height: 315px;
    object-fit: cover;
}
.top1{
    width: 505px;
    height: 355px;
    object-fit: cover;
}
.top3{
    width: 330px;
    height: 255px;
    object-fit: cover;
}
.news-wrap{
    height: 50vh;
    position: relative;
}
.news-rectangle{
    width: 100%; /* 長條的寬度 */
    height: 372px; /* 長條的高度 */
    background-color: #E8DDD1; /* 長條的顏色 */
    position: absolute;
    top:62%;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    z-index: 2;
}

.news-circle{
    width: 512px; /* 圓圈的直徑 */
    height: 512px; /* 圓圈的直徑 */
    background-color: #CBBBB3; /* 圓圈的顏色 */
    border-radius: 50%; /* 讓元素變成圓形 */
    position: absolute;
    top: 35%;
    left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.news-bgrectangle{
    width: 100%; /* 長條的寬度 */
    height: 372px; /* 長條的高度 */
    background-image: url(MONTHS2.png);
    background-repeat: no-repeat;
    background-position: right;

    position: absolute;
    top:15%;
    z-index: 0;
}
.news-bgcircle{
    width: 325px; /* 圓圈的直徑 */
    height: 325px; /* 圓圈的直徑 */
    background-color: #AAB7C0; /* 圓圈的顏色 */
    border-radius: 50%; /* 讓元素變成圓形 */
    position: absolute;
    top: 40%;
    left: 480px;
    z-index: 1;
}

.newsTitle{
    font-size: 40px;
    text-align: start
} 
.newText{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 3;
    padding-left: 25%;
    padding-bottom: 3%;
    font-size: 32px;
}
.dot{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #AAB7C0;
}
hr{
    margin-top: 75px;
    width: 1400px;
    border: 1.5px solid;
}
.hot-wrap{
    max-width: 1620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 6%;
}
.hot-card{
    width: 360px;
    height: 550px;
    margin-left: 2.5%;
}
.hot-title{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}
.hot-info{
    border-left: 2px solid #000;
    padding-left: 20px;
    margin-top: 10px;
}
.hot-info .name{
    font-size: 28px;
}
.price{
    font-size: 20px;
}
.items{
    border-radius: 50%;
    width: 365px;
    height: 365px;
    object-fit: cover;
}
.Slogan-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.bottomSlogan{
    line-height: 1.5;
    text-align: start;
    font-size: 48px;
}
